/**
 * App variables
 */

// CSS Variables (Custom Properties)
\:root
  // Common
  --text-color: #2e384d
  // Form
  --form-group-margin: 20px
  --form-error-margin: var(--form-group-margin)

// Sass variables
// Font
$font-size-base   : 15px
$line-height-base : 22px
